doctype 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Admin
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")

    link(rel="stylesheet", href="#{ assetsUrl }/styles/main.css")
  body(ng-app="adminApp", data-api=apiUrl)
    //[if lt IE 9]
      script(src="bower_components/es5-shim/es5-shim.js")
      script(src="bower_components/json3/lib/json3.min.js")
    //[endif]

    #layout.pure-g
      #nav.pure-u
        div(ng-controller="WhoamiCtrl")
          span(ng-if="user") {{ user.name }}
          span.pure-button.pure-button-xsmall(ng-click="logout()", ng-if="user")
            | Logout

        include views/menu.jade
      #main.pure-u-1
        ng-view


    script(src="#{ assetsUrl }/bower_components/jquery/jquery.js")
    script(src="#{ assetsUrl }/bower_components/angular/angular.js")
    script(src="#{ assetsUrl }/bower_components/angular-resource/angular-resource.js")
    script(src="#{ assetsUrl }/bower_components/angular-route/angular-route.js")
    script(src="#{ assetsUrl }/bower_components/angular-cookies/angular-cookies.js")
    script(src="#{ assetsUrl }/bower_components/underscore/underscore.js")
    script(src="#{ assetsUrl }/bower_components/restangular/dist/restangular.js")
    script(src="#{ assetsUrl }/scripts/app.js")
    script(src="#{ assetsUrl }/scripts/services/session.js")
    script(src="#{ assetsUrl }/scripts/services/page.js")
    script(src="#{ assetsUrl }/scripts/controllers/index.js")
    script(src="#{ assetsUrl }/scripts/controllers/page.js")
    script(src="#{ assetsUrl }/scripts/controllers/new_page.js")
    script(src="#{ assetsUrl }/scripts/controllers/menu.js")
    script(src="#{ assetsUrl }/scripts/controllers/users.js")
    script(src="#{ assetsUrl }/scripts/controllers/whoami.js")
    script(src="#{ assetsUrl }/scripts/controllers/login.js")

