{{#if isEditing}}
  {{input class="pure-input-1-2" placeholder="Dashboard title" value=title type="text" action="save"}}
{{else}}
  <h2>{{ title }}</h2>
  <span class="edit" {{action 'edit'}}>edit</span>
  {{view App.WidgetListView contentBinding="widgets" }}
  {{#each widgets}}
    {{#if type}}
      {{view typeView contentBinding="this"}}
    {{/if}}
  {{/each}}
  <form class="pure-form" {{ action "newWidget" on="submit"}}>
    <fieldset id="add_new_widget" class="">
      <legend>Add new Widget</legend>
      {{view Ember.Select contentBinding="widgetTypes" valueBinding="newWidgetType"}}
      <p><input type="submit" value="Add"></p>
    </fieldset>

  </form>
{{/if}}

