<div class="widget-menu">
  <span class="trigger"><i class="icon-chevron-down"></i></span>
  <ul>
    <li {{action "edit"}}>Edit</li>
    <li {{action "delete"}}>Delete</li>
    <li {{action "showTable"}}>Show Table</li>
    <li {{action "export"}}>Export</li>
  </ul>
</div>
<h3>{{ content.title }}</h3>
{{log view}}
{{log content}}
<div class="widget-content">
  {{yield}}
</div>
{{#if editing }}
  <div class="widget-editing">
    <h3>Editing</h3>
    <button {{action done}}>Done</button>
  </div>
{{/if}}
